<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div id="app">
    <h1>To Do</h1>
    <div class="inputBtn">
    <input id="input" class="input" v-model="input">
    <button id="btn" class="btn" @click="btn">Add</button>
</div>
<div id="mainDiv" class="mainDiv">
    <li  v-for="todo in li">{{todo}}</li>
</div>
</div>
    <script src="vue.js"></script>
</body>
</html>