<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="container" class="container">
      {{showContainer}}

      <button @click="showContainer = !showContainer">Ac/bagla</button>
      <h1 v-if="!showContainer ">Baslangicda gorunecek</h1>
      <h1 v-else="showContainer">Sonra gorunecek</h1>
      <div class="counter">
        <h3 :class="{green: number>0, red: number<0}">{{number}}</h3>
        <button @click="plus">+</button>
        <button @click="minus">-</button>
        <p v-if="number>0">Pozitiv</p>
        <p v-else-if="number==0">0</p>
        <p v-else>Negativ</p>
      </div>
    </div>

    <script src="vue.js"></script>
  </body>
</html>
