* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700 ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
     width: 300px;
    height: 200px;
    border: 1px solid red;
}
.number {
    display: flex;
    align-items: center;
    justify-content: center;
  width: 100px;
  height: 100px;
  font-size: 36px;
  border: 2px solid rgb(105, 1, 105);
  background-color: rgb(254, 146, 254);
}
.buttons{
    display: flex;
    gap:80px
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 36px;
  color: white;
  border: 2px solid rgb(59, 1, 59);
  background-color: rgb(108, 7, 108);
  cursor: pointer;
}
