<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="container" class="container">
      <h1>To Do</h1>
      <div class="inpBtn">
      <input type="text" v-model="inp" @keyDown.enter="add()" />
      <button class="addBtn" @click="add()">Add</button>
    </div>

    <label >{{toDoList}}</label>

    <div v-if="toDoList.length>0">
      <ul>
        <li  v-for="todo in toDoList">
          <div class="textClear"> 
          <input class="checkInp" type="checkbox" checked="checked" v-model="todo.value">
          <div class="liText">  {{todo.text}}</div>
        </div>
          <button class="clearBtn" @click="clear(todo)" >Clear</button>
        </li>
        <p>Tamamlanmış item sayı:{{complatedItem}}</p>
        <p>Tamamlanmamış item sayı: {{unComplatedItem}}</p> 
      </ul>
    </div>
    <div class="message" v-else>Heç bir ToDo element yoxdur, əlavə edin.</div>
  </div>
    <script src="vue.js"></script>
  </body>
</html>
